
<h1 class="text-center">Task Lists</h1>
<br/>
<div class="row">
  <div class="col-4 offset-2">
    <h3> Task Lists </h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <%= render "form_index" %>
          </td>
        </tr>

        <% if @uncompleted_tasks.present? %>
          <% @uncompleted_tasks.each do |list| %>
            <tr>
              <td>
                <%= link_to list.description, edit_list_path(list) %>
                <span class="float-right">
                  <%= form_for(list) do |f| %>
                  <%= f.text_field :description, type: 'hidden' %>
                  <%= f.check_box :completed, checked: true, style: 'visibility: hidden' %>
                  <%= f.submit "Completed", class:"btn btn-primary btn-sm" %>
                  <% end %>
                </span>
              </td>
            </tr>
          <% end %>
        <% elsif %>
          <tr>
            <td>
              Hola! You have added no tasks today
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-4">
    <h3> Completed Tasks </h3>
    <table class="table table-bordered">
      <tbody>
        <% if @completed_tasks.present? %>
          <% @completed_tasks.sort_by(&:updated_at).reverse.each do |list| %>
            <tr>
              <td>
                <span class="strike-out"><%= list.description %></span> <br> 
                <span class="small">Completed <%= time_ago_in_words(list.updated_at) %> ago</span>
              </td>
            </tr>
          <% end %>
        <% elsif %>
          <tr>
            <td>
              Hola! You have no completed tasks
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
